#navBar {
  background-color: rgb(118, 87, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: 3.6rem;
}
#logo {
  width: 4rem;
  height: 4rem;
}
#navBarList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.1rem;
  cursor: pointer;
  height: 100%;
}
#navBar a {
  color: inherit;
  text-decoration: none;
}
#navBarList li:hover {
  text-decoration: underline 3px rgb(255, 254, 254);
  text-underline-offset: 0.4rem;
}
